.story__content {
  display: flex;
  flex-direction: column;

  .content {
    // border: 2px solid red;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;

    .story {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.45rem;

      .profile__img-box {
        border: 2.5px solid purple;
        padding: 0.25rem;
        border-radius: 100%;

        img {
          width: 5rem;
          height: 5rem;
          border-radius: 100%;
        }
      }

      h2 {
        font-size: 0.95rem;
        font-family: "MR";
        //   font-weight: 600;
        //   letter-spacing: 0.05rem;
      }
    }
  }
}
