.navbar__section {
  padding: 1rem 0;

  .navbar {
    display: flex;
    justify-content: space-between;

    .nav-links {
      .nav-link {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
